{
  "openapi": "3.1.0",
  "info": {
    "title": "Hot Tub Companion API",
    "version": "1.0.0",
    "description": "Super Admin protected API docs. Generated from route inventory with incremental OpenAPI enrichment."
  },
  "servers": [
    {
      "url": "https://api.hottubcompanion.com"
    }
  ],
  "tags": [
    {
      "name": "auth"
    },
    {
      "name": "super-admin"
    },
    {
      "name": "admin"
    },
    {
      "name": "users"
    },
    {
      "name": "spa-profiles"
    },
    {
      "name": "water-care"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/v1/admin/content": {
      "get": {
        "tags": [
          "content"
        ],
        "operationId": "get__api_v1_admin_content",
        "summary": "GET /api/v1/admin/content",
        "description": "Auto-generated operation inventory entry from api/src/routes/adminContent.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/adminContent.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "content"
        ],
        "operationId": "post__api_v1_admin_content",
        "summary": "POST /api/v1/admin/content",
        "description": "Auto-generated operation inventory entry from api/src/routes/adminContent.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/adminContent.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/content/:id": {
      "delete": {
        "tags": [
          "content"
        ],
        "operationId": "delete__api_v1_admin_content__id",
        "summary": "DELETE /api/v1/admin/content/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/adminContent.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/adminContent.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "content"
        ],
        "operationId": "put__api_v1_admin_content__id",
        "summary": "PUT /api/v1/admin/content/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/adminContent.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/adminContent.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/content/:id/suppress": {
      "put": {
        "tags": [
          "content"
        ],
        "operationId": "put__api_v1_admin_content__id_suppress",
        "summary": "PUT /api/v1/admin/content/:id/suppress",
        "description": "Auto-generated operation inventory entry from api/src/routes/adminContent.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/adminContent.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/me": {
      "get": {
        "tags": [
          "me"
        ],
        "operationId": "get__api_v1_admin_me",
        "summary": "GET /api/v1/admin/me",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "operationId": "get__api_v1_admin_notifications",
        "summary": "GET /api/v1/admin/notifications",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "notifications"
        ],
        "operationId": "post__api_v1_admin_notifications",
        "summary": "POST /api/v1/admin/notifications",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/notifications/:id": {
      "put": {
        "tags": [
          "notifications"
        ],
        "operationId": "put__api_v1_admin_notifications__id",
        "summary": "PUT /api/v1/admin/notifications/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/notifications/:id/cancel": {
      "delete": {
        "tags": [
          "notifications"
        ],
        "operationId": "delete__api_v1_admin_notifications__id_cancel",
        "summary": "DELETE /api/v1/admin/notifications/:id/cancel",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/notifications/:id/stats": {
      "get": {
        "tags": [
          "notifications"
        ],
        "operationId": "get__api_v1_admin_notifications__id_stats",
        "summary": "GET /api/v1/admin/notifications/:id/stats",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/products": {
      "get": {
        "tags": [
          "products"
        ],
        "operationId": "get__api_v1_admin_products",
        "summary": "GET /api/v1/admin/products",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/products/:id/map": {
      "delete": {
        "tags": [
          "products"
        ],
        "operationId": "delete__api_v1_admin_products__id_map",
        "summary": "DELETE /api/v1/admin/products/:id/map",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "products"
        ],
        "operationId": "post__api_v1_admin_products__id_map",
        "summary": "POST /api/v1/admin/products/:id/map",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/products/:id/uhtd-suggestions": {
      "get": {
        "tags": [
          "products"
        ],
        "operationId": "get__api_v1_admin_products__id_uhtd_suggestions",
        "summary": "GET /api/v1/admin/products/:id/uhtd-suggestions",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/products/:id/visibility": {
      "put": {
        "tags": [
          "products"
        ],
        "operationId": "put__api_v1_admin_products__id_visibility",
        "summary": "PUT /api/v1/admin/products/:id/visibility",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/products/sync": {
      "post": {
        "tags": [
          "products"
        ],
        "operationId": "post__api_v1_admin_products_sync",
        "summary": "POST /api/v1/admin/products/sync",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/settings/app-setup": {
      "get": {
        "tags": [
          "settings"
        ],
        "operationId": "get__api_v1_admin_settings_app_setup",
        "summary": "GET /api/v1/admin/settings/app-setup",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "settings"
        ],
        "operationId": "put__api_v1_admin_settings_app_setup",
        "summary": "PUT /api/v1/admin/settings/app-setup",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/settings/branding": {
      "get": {
        "tags": [
          "settings"
        ],
        "operationId": "get__api_v1_admin_settings_branding",
        "summary": "GET /api/v1/admin/settings/branding",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "settings"
        ],
        "operationId": "put__api_v1_admin_settings_branding",
        "summary": "PUT /api/v1/admin/settings/branding",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/settings/branding/media/upload": {
      "post": {
        "tags": [
          "settings"
        ],
        "operationId": "post__api_v1_admin_settings_branding_media_upload",
        "summary": "POST /api/v1/admin/settings/branding/media/upload",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/settings/pos": {
      "get": {
        "tags": [
          "settings"
        ],
        "operationId": "get__api_v1_admin_settings_pos",
        "summary": "GET /api/v1/admin/settings/pos",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "settings"
        ],
        "operationId": "put__api_v1_admin_settings_pos",
        "summary": "PUT /api/v1/admin/settings/pos",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/settings/pos/test": {
      "post": {
        "tags": [
          "settings"
        ],
        "operationId": "post__api_v1_admin_settings_pos_test",
        "summary": "POST /api/v1/admin/settings/pos/test",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/team": {
      "get": {
        "tags": [
          "team"
        ],
        "operationId": "get__api_v1_admin_team",
        "summary": "GET /api/v1/admin/team",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/team/:userId": {
      "delete": {
        "tags": [
          "team"
        ],
        "operationId": "delete__api_v1_admin_team__userId",
        "summary": "DELETE /api/v1/admin/team/:userId",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "team"
        ],
        "operationId": "put__api_v1_admin_team__userId",
        "summary": "PUT /api/v1/admin/team/:userId",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/team/audit": {
      "get": {
        "tags": [
          "team"
        ],
        "operationId": "get__api_v1_admin_team_audit",
        "summary": "GET /api/v1/admin/team/audit",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/admin/team/invite": {
      "post": {
        "tags": [
          "team"
        ],
        "operationId": "post__api_v1_admin_team_invite",
        "summary": "POST /api/v1/admin/team/invite",
        "description": "Auto-generated operation inventory entry from api/src/routes/admin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "retailer_admin",
        "x-htc-source": "api/src/routes/admin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "post__api_v1_auth_login",
        "summary": "POST /api/v1/auth/login",
        "description": "Auto-generated operation inventory entry from api/src/routes/auth.routes.ts.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "public",
        "x-htc-source": "api/src/routes/auth.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "post__api_v1_auth_register",
        "summary": "POST /api/v1/auth/register",
        "description": "Auto-generated operation inventory entry from api/src/routes/auth.routes.ts.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "public",
        "x-htc-source": "api/src/routes/auth.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      }
    },
    "/api/v1/auth/verify": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "post__api_v1_auth_verify",
        "summary": "POST /api/v1/auth/verify",
        "description": "Auto-generated operation inventory entry from api/src/routes/auth.routes.ts.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "public",
        "x-htc-source": "api/src/routes/auth.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      }
    },
    "/api/v1/consumer-uhtd-suggestions": {
      "post": {
        "tags": [
          "consumer-uhtd-suggestions"
        ],
        "operationId": "post__api_v1_consumer_uhtd_suggestions",
        "summary": "POST /api/v1/consumer-uhtd-suggestions",
        "description": "Auto-generated operation inventory entry from api/src/routes/consumerUhtdSuggestions.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/consumerUhtdSuggestions.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/content": {
      "get": {
        "tags": [
          "content"
        ],
        "operationId": "get__api_v1_content",
        "summary": "GET /api/v1/content",
        "description": "Auto-generated operation inventory entry from api/src/routes/content.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/content.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/content/:id": {
      "get": {
        "tags": [
          "content"
        ],
        "operationId": "get__api_v1_content__id",
        "summary": "GET /api/v1/content/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/content.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/content.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/content/categories": {
      "get": {
        "tags": [
          "content"
        ],
        "operationId": "get__api_v1_content_categories",
        "summary": "GET /api/v1/content/categories",
        "description": "Auto-generated operation inventory entry from api/src/routes/content.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/content.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/internal/cron/dispatch-notifications": {
      "post": {
        "tags": [
          "internal"
        ],
        "operationId": "post__api_v1_internal_cron_dispatch_notifications",
        "summary": "POST /api/v1/internal/cron/dispatch-notifications",
        "description": "Auto-generated operation inventory entry from api/src/routes/index.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "internal_secret",
        "x-htc-source": "api/src/routes/index.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/internal/eas-tenant-config": {
      "get": {
        "tags": [
          "internal"
        ],
        "operationId": "get__api_v1_internal_eas_tenant_config",
        "summary": "GET /api/v1/internal/eas-tenant-config",
        "description": "Auto-generated operation inventory entry from api/src/routes/index.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "internal_secret",
        "x-htc-source": "api/src/routes/index.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/media/debug/:id": {
      "get": {
        "tags": [
          "media"
        ],
        "operationId": "get__api_v1_media_debug__id",
        "summary": "GET /api/v1/media/debug/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/mediaPublic.routes.ts.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "public",
        "x-htc-source": "api/src/routes/mediaPublic.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/media/serve": {
      "get": {
        "tags": [
          "media"
        ],
        "operationId": "get__api_v1_media_serve",
        "summary": "GET /api/v1/media/serve",
        "description": "Auto-generated operation inventory entry from api/src/routes/mediaPublic.routes.ts.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "public",
        "x-htc-source": "api/src/routes/mediaPublic.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/media/serve/:id": {
      "get": {
        "tags": [
          "media"
        ],
        "operationId": "get__api_v1_media_serve__id",
        "summary": "GET /api/v1/media/serve/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/mediaPublic.routes.ts.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "public",
        "x-htc-source": "api/src/routes/mediaPublic.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/products": {
      "get": {
        "tags": [
          "products"
        ],
        "operationId": "get__api_v1_products",
        "summary": "GET /api/v1/products",
        "description": "Auto-generated operation inventory entry from api/src/routes/products.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/products.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/products/:id": {
      "get": {
        "tags": [
          "products"
        ],
        "operationId": "get__api_v1_products__id",
        "summary": "GET /api/v1/products/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/products.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/products.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/products/categories": {
      "get": {
        "tags": [
          "products"
        ],
        "operationId": "get__api_v1_products_categories",
        "summary": "GET /api/v1/products/categories",
        "description": "Auto-generated operation inventory entry from api/src/routes/products.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/products.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/products/compatible/:spaProfileId": {
      "get": {
        "tags": [
          "products"
        ],
        "operationId": "get__api_v1_products_compatible__spaProfileId",
        "summary": "GET /api/v1/products/compatible/:spaProfileId",
        "description": "Auto-generated operation inventory entry from api/src/routes/products.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/products.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/brands": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_brands",
        "summary": "GET /api/v1/scdb/brands",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "scdb"
        ],
        "operationId": "post__api_v1_scdb_brands",
        "summary": "POST /api/v1/scdb/brands",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/brands/:brandId/model-lines": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_brands__brandId_model_lines",
        "summary": "GET /api/v1/scdb/brands/:brandId/model-lines",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/brands/:brandId/years": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_brands__brandId_years",
        "summary": "GET /api/v1/scdb/brands/:brandId/years",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/brands/:id": {
      "delete": {
        "tags": [
          "scdb"
        ],
        "operationId": "delete__api_v1_scdb_brands__id",
        "summary": "DELETE /api/v1/scdb/brands/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_brands__id",
        "summary": "GET /api/v1/scdb/brands/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "scdb"
        ],
        "operationId": "put__api_v1_scdb_brands__id",
        "summary": "PUT /api/v1/scdb/brands/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/model-lines": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_model_lines",
        "summary": "GET /api/v1/scdb/model-lines",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "scdb"
        ],
        "operationId": "post__api_v1_scdb_model_lines",
        "summary": "POST /api/v1/scdb/model-lines",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/model-lines/:id": {
      "delete": {
        "tags": [
          "scdb"
        ],
        "operationId": "delete__api_v1_scdb_model_lines__id",
        "summary": "DELETE /api/v1/scdb/model-lines/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_model_lines__id",
        "summary": "GET /api/v1/scdb/model-lines/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "scdb"
        ],
        "operationId": "put__api_v1_scdb_model_lines__id",
        "summary": "PUT /api/v1/scdb/model-lines/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/model-lines/:modelLineId/models": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_model_lines__modelLineId_models",
        "summary": "GET /api/v1/scdb/model-lines/:modelLineId/models",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/model-lines/:modelLineId/names": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_model_lines__modelLineId_names",
        "summary": "GET /api/v1/scdb/model-lines/:modelLineId/names",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/model-lines/:modelLineId/names/:modelName/years": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_model_lines__modelLineId_names__modelName_years",
        "summary": "GET /api/v1/scdb/model-lines/:modelLineId/names/:modelName/years",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/search": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_search",
        "summary": "GET /api/v1/scdb/search",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/spa-models": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_spa_models",
        "summary": "GET /api/v1/scdb/spa-models",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "scdb"
        ],
        "operationId": "post__api_v1_scdb_spa_models",
        "summary": "POST /api/v1/scdb/spa-models",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/spa-models/:id": {
      "delete": {
        "tags": [
          "scdb"
        ],
        "operationId": "delete__api_v1_scdb_spa_models__id",
        "summary": "DELETE /api/v1/scdb/spa-models/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_spa_models__id",
        "summary": "GET /api/v1/scdb/spa-models/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "scdb"
        ],
        "operationId": "put__api_v1_scdb_spa_models__id",
        "summary": "PUT /api/v1/scdb/spa-models/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/spa-models/bulk": {
      "post": {
        "tags": [
          "scdb"
        ],
        "operationId": "post__api_v1_scdb_spa_models_bulk",
        "summary": "POST /api/v1/scdb/spa-models/bulk",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/scdb/spa-models/search": {
      "get": {
        "tags": [
          "scdb"
        ],
        "operationId": "get__api_v1_scdb_spa_models_search",
        "summary": "GET /api/v1/scdb/spa-models/search",
        "description": "Auto-generated operation inventory entry from api/src/routes/scdb.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_key",
        "x-htc-source": "api/src/routes/scdb.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/spa-profiles": {
      "delete": {
        "tags": [
          "spa-profiles"
        ],
        "operationId": "delete__api_v1_spa_profiles",
        "summary": "DELETE /api/v1/spa-profiles",
        "description": "Auto-generated operation inventory entry from api/src/routes/spaProfiles.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_firebase",
        "x-htc-source": "api/src/routes/spaProfiles.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      },
      "get": {
        "tags": [
          "spa-profiles"
        ],
        "operationId": "get__api_v1_spa_profiles",
        "summary": "GET /api/v1/spa-profiles",
        "description": "Auto-generated operation inventory entry from api/src/routes/spaProfiles.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_firebase",
        "x-htc-source": "api/src/routes/spaProfiles.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      },
      "post": {
        "tags": [
          "spa-profiles"
        ],
        "operationId": "post__api_v1_spa_profiles",
        "summary": "POST /api/v1/spa-profiles",
        "description": "Auto-generated operation inventory entry from api/src/routes/spaProfiles.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_firebase",
        "x-htc-source": "api/src/routes/spaProfiles.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      }
    },
    "/api/v1/spa-profiles/:id": {
      "delete": {
        "tags": [
          "spa-profiles"
        ],
        "operationId": "delete__api_v1_spa_profiles__id",
        "summary": "DELETE /api/v1/spa-profiles/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/spaProfiles.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_firebase",
        "x-htc-source": "api/src/routes/spaProfiles.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      },
      "put": {
        "tags": [
          "spa-profiles"
        ],
        "operationId": "put__api_v1_spa_profiles__id",
        "summary": "PUT /api/v1/spa-profiles/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/spaProfiles.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "tenant_firebase",
        "x-htc-source": "api/src/routes/spaProfiles.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      }
    },
    "/api/v1/super-admin/announcements/send": {
      "post": {
        "tags": [
          "announcements"
        ],
        "operationId": "post__api_v1_super_admin_announcements_send",
        "summary": "POST /api/v1/super-admin/announcements/send",
        "description": "Auto-generated operation inventory entry from api/src/routes/superAdmin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/superAdmin.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/audit/logs": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "get__api_v1_super_admin_audit_logs",
        "summary": "GET /api/v1/super-admin/audit/logs",
        "description": "Auto-generated operation inventory entry from api/src/routes/audit.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/audit.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/audit/review/confirm": {
      "post": {
        "tags": [
          "audit"
        ],
        "operationId": "post__api_v1_super_admin_audit_review_confirm",
        "summary": "POST /api/v1/super-admin/audit/review/confirm",
        "description": "Auto-generated operation inventory entry from api/src/routes/audit.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/audit.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/audit/review/pending": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "get__api_v1_super_admin_audit_review_pending",
        "summary": "GET /api/v1/super-admin/audit/review/pending",
        "description": "Auto-generated operation inventory entry from api/src/routes/audit.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/audit.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/audit/review/reject": {
      "post": {
        "tags": [
          "audit"
        ],
        "operationId": "post__api_v1_super_admin_audit_review_reject",
        "summary": "POST /api/v1/super-admin/audit/review/reject",
        "description": "Auto-generated operation inventory entry from api/src/routes/audit.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/audit.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/audit/review/stats": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "get__api_v1_super_admin_audit_review_stats",
        "summary": "GET /api/v1/super-admin/audit/review/stats",
        "description": "Auto-generated operation inventory entry from api/src/routes/audit.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/audit.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/audit/stats": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "get__api_v1_super_admin_audit_stats",
        "summary": "GET /api/v1/super-admin/audit/stats",
        "description": "Auto-generated operation inventory entry from api/src/routes/audit.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/audit.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/auth/check-email": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "post__api_v1_super_admin_auth_check_email",
        "summary": "POST /api/v1/super-admin/auth/check-email",
        "description": "Auto-generated operation inventory entry from api/src/routes/superAdmin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/superAdmin.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      }
    },
    "/api/v1/super-admin/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "post__api_v1_super_admin_auth_register",
        "summary": "POST /api/v1/super-admin/auth/register",
        "description": "Auto-generated operation inventory entry from api/src/routes/superAdmin.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/superAdmin.routes.ts",
        "x-htc-openapi-phase": "phase1-priority"
      }
    },
    "/api/v1/super-admin/comps/": {
      "get": {
        "tags": [
          "comps"
        ],
        "operationId": "get__api_v1_super_admin_comps_",
        "summary": "GET /api/v1/super-admin/comps/",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "comps"
        ],
        "operationId": "post__api_v1_super_admin_comps_",
        "summary": "POST /api/v1/super-admin/comps/",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/:id": {
      "delete": {
        "tags": [
          "comps"
        ],
        "operationId": "delete__api_v1_super_admin_comps__id",
        "summary": "DELETE /api/v1/super-admin/comps/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "get": {
        "tags": [
          "comps"
        ],
        "operationId": "get__api_v1_super_admin_comps__id",
        "summary": "GET /api/v1/super-admin/comps/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "comps"
        ],
        "operationId": "put__api_v1_super_admin_comps__id",
        "summary": "PUT /api/v1/super-admin/comps/:id",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/:id/parts": {
      "get": {
        "tags": [
          "comps"
        ],
        "operationId": "get__api_v1_super_admin_comps__id_parts",
        "summary": "GET /api/v1/super-admin/comps/:id/parts",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/:id/spas": {
      "delete": {
        "tags": [
          "comps"
        ],
        "operationId": "delete__api_v1_super_admin_comps__id_spas",
        "summary": "DELETE /api/v1/super-admin/comps/:id/spas",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "get": {
        "tags": [
          "comps"
        ],
        "operationId": "get__api_v1_super_admin_comps__id_spas",
        "summary": "GET /api/v1/super-admin/comps/:id/spas",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "post": {
        "tags": [
          "comps"
        ],
        "operationId": "post__api_v1_super_admin_comps__id_spas",
        "summary": "POST /api/v1/super-admin/comps/:id/spas",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      },
      "put": {
        "tags": [
          "comps"
        ],
        "operationId": "put__api_v1_super_admin_comps__id_spas",
        "summary": "PUT /api/v1/super-admin/comps/:id/spas",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/assign-part": {
      "post": {
        "tags": [
          "comps"
        ],
        "operationId": "post__api_v1_super_admin_comps_assign_part",
        "summary": "POST /api/v1/super-admin/comps/assign-part",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/compatibility": {
      "post": {
        "tags": [
          "comps"
        ],
        "operationId": "post__api_v1_super_admin_comps_compatibility",
        "summary": "POST /api/v1/super-admin/comps/compatibility",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/compatibility/:partId/:spaModelId": {
      "delete": {
        "tags": [
          "comps"
        ],
        "operationId": "delete__api_v1_super_admin_comps_compatibility__partId__spaModelId",
        "summary": "DELETE /api/v1/super-admin/comps/compatibility/:partId/:spaModelId",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/compatibility/:partId/:spaModelId/status": {
      "patch": {
        "tags": [
          "comps"
        ],
        "operationId": "patch__api_v1_super_admin_comps_compatibility__partId__spaModelId_status",
        "summary": "PATCH /api/v1/super-admin/comps/compatibility/:partId/:spaModelId/status",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/compatibility/bulk": {
      "post": {
        "tags": [
          "comps"
        ],
        "operationId": "post__api_v1_super_admin_comps_compatibility_bulk",
        "summary": "POST /api/v1/super-admin/comps/compatibility/bulk",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/compatibility/matrix": {
      "post": {
        "tags": [
          "comps"
        ],
        "operationId": "post__api_v1_super_admin_comps_compatibility_matrix",
        "summary": "POST /api/v1/super-admin/comps/compatibility/matrix",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/compatibility/part/:partId": {
      "get": {
        "tags": [
          "comps"
        ],
        "operationId": "get__api_v1_super_admin_comps_compatibility_part__partId",
        "summary": "GET /api/v1/super-admin/comps/compatibility/part/:partId",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/compatibility/spa/:spaModelId": {
      "get": {
        "tags": [
          "comps"
        ],
        "operationId": "get__api_v1_super_admin_comps_compatibility_spa__spaModelId",
        "summary": "GET /api/v1/super-admin/comps/compatibility/spa/:spaModelId",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
    "/api/v1/super-admin/comps/generate-id": {
      "get": {
        "tags": [
          "comps"
        ],
        "operationId": "get__api_v1_super_admin_comps_generate_id",
        "summary": "GET /api/v1/super-admin/comps/generate-id",
        "description": "Auto-generated operation inventory entry from api/src/routes/comp.routes.ts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-htc-auth-type": "super_admin",
        "x-htc-source": "api/src/routes/comp.routes.ts",
        "x-htc-openapi-phase": "inventory-seeded"
      }
    },
[...]
